@font-face {
    font-family: Pixel;
    src: url(tahoma.otf);
}

body {
    background-image: url("back.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

h1{
    font-family: "Press Start 2P", sans-serif;
    color: aliceblue;
    font-size: xx-large;
}

p {
    font-family: "Press Start 2P", sans-serif;
    color: aliceblue;
    font-size: small;
    text-align: center;
}

a{
    font-family: "Press Start 2P", sans-serif;
    color: aliceblue;
    font-size: xx-large;
    text-decoration: none;
    margin-top: 70px;
}

a:hover {
    color: rgb(122, 113, 113);
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

#ti{
    margin-left: auto;
    margin-right: auto;
    width: 650px;
}

#boxti{
    text-align: center;
}



#bigbox{
    border: 5px solid;
    padding: 30px;
    border-color: rgb(25, 26, 44);
    width: 1200px;
    height: 800px;
    font-size: 22px;
    background: rgb(22, 19, 34);
   
    position: absolute;
    top:50px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#boxres {
    border: 5px solid;
    padding: 30px;
    border-color: rgb(25, 26, 44);
    width: 800px;
    height: 900px;
    font-size: 22px;
    background: rgb(22, 19, 34);
   
    position: absolute;
    top:50px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#box1 {
    border: 5px solid;
    padding: 30px;
    border-color: rgb(25, 26, 44);
    width: 450px;
    height: 400px;
    font-size: 22px;
    background: rgb(22, 19, 34);
   
    position: absolute;
    top:50px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#box2{
    border: 5px solid;
    padding: 30px;
    border-color: rgb(12, 12, 11);
    width: 400px;
    height: 250px;
    font-size: 22px;
    background: rgb(12, 12, 11);
    margin-left: 2%;
    margin-top: 5%;
    
}

#box2:hover {
    border-color: rgb(41, 38, 39);
}

#box3{
    border: 5px solid;
    padding: 30px;
    border-color: rgb(12, 12, 11);
    width: 400px;
    height: 250px;
    font-size: 22px;
    background: rgb(12, 12, 11);
    margin-left: 15%;
    margin-top: 5%;

}

#box3:hover {
    border-color: rgb(41, 38, 39);
}